<!-- CSS para Fomulário -->

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
.form .register-form {
    display: none;
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}

<!-- Batman login -->

* {
    box-sizing: border-box;
}

.body-bat{
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: white;
    font-size: 12px;
    background: #333 url(/images/classy_fabric.png);
}

form {
    background: #111;
    width: 300px;
    margin: 30px auto;
    border-radius: 0.4em;
    border: 1px solid #191919;
    overflow: hidden;
    position: relative;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
}

form:after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 100px;
    left: 20%;
    background: linear-gradient(to right, #111111, #444444, #b6b6b8, #444444, #111111);
    top: 0;
}

form:before {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 5px;
    border-radius: 50%;
    left: 34%;
    top: -7px;
    box-shadow: 0 0 6px 4px #fff;
}

.inset {
    padding: 20px;
    border-top: 1px solid #19191a;
}

form h1 {
    font-size: 18px;
    text-shadow: 0 1px 0 black;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid black;
    position: relative;
}

form h1:after {
    content: "";
    display: block;
    width: 250px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 50px;
    pointer-events: none;
    transform: rotate(70deg);
    background: linear-gradient(50deg, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0));
}

label {
    color: #666;
    display: block;
    padding-bottom: 9px;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 8px 5px;
    background: linear-gradient(#1f2124, #27292c);
    border: 1px solid #222;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    border-radius: 0.3em;
    margin-bottom: 20px;
}

label[for=remember] {
    color: white;
    display: inline-block;
    padding-bottom: 0;
    padding-top: 0px;
}

input[type=checkbox] {
    display: inline-block;
    vertical-align: top;
}

.p-container {
    padding: 0 20px 20px 20px;
}

.p-container:after {
    clear: both;
    display: table;
    content: "";
}

.p-container span {
    display: block;
    float: left;
    color: #0d93ff;
    padding-top: 8px;
}

input[type=submit] {
    padding: 5px 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 10px 10px rgba(255, 255, 255, 0.1);
    border-radius: 0.3em;
    background: #0184ff;
    color: white;
    float: right;
    font-weight: bold;
    cursor: pointer;
    font-size: 13px;
}

input[type=submit]:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -10px 10px rgba(255, 255, 255, 0.1);
}

input[type=text]:hover,
input[type=password]:hover,
label:hover ~ input[type=text],
label:hover ~ input[type=password] {
    background: #27292c;
}